body{
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    color: #97a2a7;
    font-size: 14px;
    line-height: 1.3em;
}
/*** Top Site line ***/
div#topLine{
    width: 100%;
    height: 13px;
    overflow: hidden;
    background: url("top-line.jpg") top center no-repeat;
    position: relative;
    z-index: 0;
    -moz-box-shadow: 0px 0px 15px 0px #c7c7c7;
    -webkit-box-shadow: 0px 0px 15px 0px #c7c7c7;
    -khtml-box-shadow: 0px 0px 15px 0px #c7c7c7;
    -ms-box-shadow: 0px 0px 15px 0px #c7c7c7;
    -o-box-shadow: 0px 0px 15px 0px #c7c7c7;
    box-shadow: 0px 0px 15px 0px #c7c7c7;
}

/*** Header ***/
div#header{
    height:120px;
    position: relative;
    z-index: 2;
}
div#header div#logo{
    height: 107px;
    padding: 13px 0px 0px 0px;
}
div#header div#topMenu{
    height: 120px;
}
div#topMenu ul#mainMenu{
    height: 120px;  
    background: url("front-border.png") bottom left no-repeat;
    padding: 0px 0px 0px 18px;
}
div#topMenu ul#mainMenu li{
    float: left;
    width: 148px;
    height: 120px;
    background: url("menu-btn.png") bottom right no-repeat;
}
div#topMenu ul#mainMenu li a{
    display: block;
    width: 128px;
    height: 120px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-family: "Cuprum";
    font-size: 22px;
    color: #334151;
}
div#topMenu ul#mainMenu li a span.menuDesc{
    display: block;
    width: 128px;
    padding: 25px 0px 38px 0px;
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    font-size: 16px;
    color: #0093d2;
    text-transform: none;
}
div#topMenu ul#mainMenu li.current-menu-item a,
div#topMenu ul#mainMenu li a:hover{
    background: url("menu-btn-hover.png") bottom right no-repeat;
    color: #FFFFFF;
}

/***** Slogan *****/
div#sloganWrap{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 285px;
    background: url("") top center no-repeat;
    -moz-box-shadow: 0px 0px 15px 0px #c7c7c7;
    -webkit-box-shadow: 0px 0px 15px 0px #c7c7c7;
    -khtml-box-shadow: 0px 0px 15px 0px #c7c7c7;
    -ms-box-shadow: 0px 0px 15px 0px #c7c7c7;
    -o-box-shadow: 0px 0px 15px 0px #c7c7c7;
    box-shadow: 0px 0px 15px 0px #c7c7c7;
}
div#sloganWrap div#slogan{
    height: 275px;
    padding: 10px 0px 0px 0px;
}
/*** Wrapper ***/
div#wrapper{
    position:relative;
    z-index: 3;
}
/**** Sidebar ****/
div#wrapper div#sbWrap{

    padding-bottom:20px;
}
div#sbWrap div#sidebar{
    min-height: 300px;
    height: auto !important;
    height: 300px;
    -moz-box-shadow: 0px 3px 4px 0px #c7c7c7;
    -webkit-box-shadow: 0px 3px 4px 0px #c7c7c7;
    -khtml-box-shadow: 0px 3px 4px 0px #c7c7c7;
    -ms-box-shadow: 0px 3px 4px 0px #c7c7c7;
    -o-box-shadow: 0px 3px 4px 0px #c7c7c7;
    box-shadow: 0px 3px 4px 0px #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
}
div#sidebar div.sbTitle{
    height: 27px;
    background: url("sb-title.png") top left repeat-x;
    font-family: "Cuprum";
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0px 0px 0px;
}
div#sidebar div.sbContent{
    padding: 7px 0px;
}
div#sidebar div.sbContent ul#sbMenu{
    width: 230px;
}
div#sidebar div.sbContent ul#sbMenu li{
    width: 230px;
    height: 40px;
}
div#sidebar div.sbContent ul#sbMenu li.oddElem{
    background: #ededed;
}
div#sidebar div.sbContent ul#sbMenu li a{
    display: block;
    width: 204px;
    height: 29px;
    padding: 11px 13px 0px 13px;
    font-family: "Cuprum";
    font-size: 18px;
    color: #334151;
    text-decoration: none;
}
div#sidebar div.sbContent ul#sbMenu li.current-menu-parent a,
div#sidebar div.sbContent ul#sbMenu li.current-menu-item a,
div#sidebar div.sbContent ul#sbMenu li a:hover{
    background: url("sb-menu-hover.jpg") top center no-repeat;
    color: #FFFFFF;

}
div#sidebar div.sbContent ul#sbContacts li{
    width: 204px;
    min-height: 20px;
    height: auto !important;
    height: 20px;
    padding: 10px 13px 10px 13px;
    font-family: "Cuprum";
    font-size: 15px;
    color: #334151
}
div#sidebar div.sbContent ul#sbContacts li.evenElem{
    height: 40px;
    background: #ededed;
    padding: 0px 13px 0px 13px;
}

/*** Content Wrap ****/
div#wrapper div#contWrap{
    min-height: 280px;
    height: auto !important;
    height: 280px;
    padding: 0px 0px 20px 0px;
}
div#wrapper div#contWrap a{
    color: #0093d2;
    text-decoration: none;
}
div#wrapper div#contWrap a:hover{
    text-decoration: underline;
}
div#contWrap div.hbWrap{
    padding-top: 40px;
    border-bottom: 1px solid #c6ccce;
    margin-bottom: 7px;
}
div.homeBoxes{
    width: 10%;
}

div.hbTitle{
    text-align: center;
    background: url("title-bg.png") left center repeat-x;
}
div.hbTitle h2{
    display: inline-block;
    text-align: center;
    background: #FFFFFF;
    padding: 0px 40px;
    font-family: "Cuprum";
    font-size: 24px;
    color: #334151;
    text-transform: uppercase;
    font-weight: normal;
    /* ie fix */
    zoom: 1;
    *display: inline; 
}
div#contWrap div.hbContent{
    padding-top: 40px;
}

/**** Post Boxes Single ****/
div.postBoxWrap{
    padding: 0px 0px 40px 0px;
}
div.postBoxSingle{
    overflow: hidden;
}

div.ptMetaSingle{
    height: 58px;
    background: url("") top left no-repeat;
    font-family: "Cuprum";
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}
div.ptMetaSingle span{
    display: block;
    width: 26px;
    padding: 6px 3px 2px 1px;
}
div.ptMetaSingle span.bigDateSingle{
    width: 26px;
    padding: 0px 3px 0px 1px;
    font-size: 18px;
}
div.ptWrapSingle{
    padding: 0px 0px 7px 0px;
}
div.ptTitleSingle{
    height: 51px;
    overflow: hidden;
}
div.ptTitleSingle h3{
    font-family: "Cuprum";
    font-size: 20px;
    color: #334151;
    font-weight: normal;
    line-height: 1.2em;
}
div.postContSingle{
    overflow: hidden;
	text-align: justify;
}
div.postMoreSingle{
    padding-top: 15px;
}
div.postMoreSingle a{
    display: block;
    height: 22px;
    float: right;
    background: url("") top right no-repeat;
    padding: 3px 28px 0px 0px;
    font-family: "Cuprum";
    font-size: 15px;
    text-decoration: none;
    color: #0093d2;
}
/**** Post Boxes ****/
div.postBox{
    height: 253px;
    overflow: hidden;
}
div.postSep{
    height:253px;
    background: url("") top left repeat-y;
}
div.ptMeta{
    height: 58px;
    background: url("") top left no-repeat;
    font-family: "Cuprum";
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}
div.ptMeta span{
    display: block;
    width: 26px;
    padding: 6px 3px 2px 1px;
}
div.ptMeta span.bigDate{
    width: 26px;
    padding: 0px 3px 0px 1px;
    font-size: 18px;
}
div.ptWrap{
    padding: 0px 0px 7px 0px;
}
div.ptTitle{
    height: 51px;
    overflow: hidden;
}
div.ptTitle h3{
    font-family: "Cuprum";
    font-size: 20px;
    color: #334151;
    font-weight: normal;
    line-height: 1.2em;
}
div.postCont{
    height: 145px;
    overflow: hidden;
	text-align: justify;
}
div.postMore{
    padding-top: 15px;
}
div.postMore a{
    display: block;
    height: 22px;
    float: right;
    background: url("") top right no-repeat;
    padding: 3px 28px 0px 0px;
    font-family: "Cuprum";
    font-size: 15px;
    text-decoration: none;
    color: #0093d2;
}
div#contWrap div#homeText{
    width: 640px;
    padding: 10px 15px;
    background: #ededed;
}
/*** Inner Page ***/
div#innerContSep{
    width: 100%;
    height: 31px;
    background: url("head-cont-sep.png") top center no-repeat;
    overflow: hidden;
}

div#contWrap div#innerTitleWrap{
    padding-top: 40px;
    padding-bottom: 40px;
}

div#innerTitleWrap div#innerTitle{
    text-align: center;
    background: url("title-bg.png") left center repeat-x;
}
div#innerTitleWrap div#innerTitle h1{
    display: inline-block;
    text-align: center;
    background: #FFFFFF;
    padding: 0px 30px;
    font-family: "Cuprum";
    font-size: 24px;
    color: #334151;
    text-transform: uppercase;
    font-weight: normal;
    /* ie fix */
    zoom: 1;
    *display: inline; 
}
div#contWrap div#innerConent{
    padding-bottom: 20px;
}
/*** pagination ***/
div#pagination div.prevLink{
    height: 30px;
    overflow: hidden;
    float: right;
    padding-top: 20px;
}
div#pagination div.prevLink a{
    display: block;
    height: 0px;
    padding: 33px 0px 0px 0px;
    overflow: hidden;
    background: url("") top left no-repeat;
    cursor: pointer;
    outline: 0;
}
div#pagination div#navSep{
    float: right;
    width: 10px;
    height: 59px;
    background: url("") top left no-repeat;
}
div#pagination div.prevLink a:hover{
    background: url("") top left no-repeat;
}
div#pagination div.nextLink{
    height: 30px;
    overflow: hidden;
    float: right;
    padding-top: 20px;
}
div#pagination div.nextLink a{
    display: block;
    height: 0px;
    padding: 33px 0px 0px 0px;
    overflow: hidden;
    background: url("") top left no-repeat;
    cursor: pointer;
    outline: 0;
}
div#pagination div.nextLink a:hover{
    background: url("") top left no-repeat;
}

/*** Contact form ***/
div.wpcf7{
    width: 312px;
}
div.wpcf7 p{
    padding: 0px 0px 5px 0px;
}

div.wpcf7 input[type="text"]{
    width: 300px;
    height: 24px;
    border: 1px solid #009ed5;
    padding: 2px 5px;
    -moz-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    -webkit-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    -khtml-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    -ms-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    -o-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    box-shadow:0px 0px 4px 0px #bbbbbb inset;
    font-family:"Times New Roman", Times, serif;
    font-size: 16px;
    color: #334151;
    margin: 0px;
}
div.wpcf7 input[type="text"].watermark{
    font-style: italic;
    color: #334151;
}
div.wpcf7 textarea{
    width: 300px;
    height: 123px;
    padding: 5px;
    border: 1px solid #009ed5;
    -moz-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    -webkit-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    -khtml-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    -ms-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    -o-box-shadow:0px 0px 4px 0px #bbbbbb inset;
    box-shadow:0px 0px 4px 0px #bbbbbb inset;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    color: #334151;
    overflow: auto;
    resize: none;
}
div.wpcf7 textarea.watermark{
    font-style: italic;
    color: #334151;
}
div.wpcf7 input[type="submit"]{
    width: 156px;
    height: 38px;
    background: url("") top center no-repeat;
    border: none;
    font-family: "Cuprum";
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
span.wpcf7-not-valid-tip{
    color: #334151;
}
div#wrapper div.wpcf7-validation-errors{
    border: none;
    margin: 0px;
    text-align: center;
    color: #FF0000;
}
div#wrapper div.wpcf7-mail-sent-ok{
    border: none;
    margin: 0px;
    text-align: center;
    color: #398F14;
}
/*** Content Separator ***/
div.innSep{
    width: 100%;
    height: 1px;
    overflow: hidden;
    background:  #d9ddde;
}
/*** Footer ***/
div#footerWrap{
    width: 100%;
    height: 54px;
    background: url("footer-bg.png") top center no-repeat;
}
div#footerWrap div#footer{
    height: 54px;
    font-family: "Cuprum";
    font-size: 15px;
    color: #334151;
}
div#footerWrap div#footer div#copy{
    padding: 21px 0px 0px 0px;
}
div#footerWrap div#footer div#design{
    text-align: right;
    padding: 10px 0px 0px 0px;
}
div#footerWrap div#footer div#design div{
    float: right;
}
div#footerWrap div#footer div#design div.glideImg{
    padding-top: 0px;
}
div#footerWrap div#footer div#design div.glideText{
    padding: 12px 7px 0px 7px;
}
div#footerWrap div#footer div#design div.glideText a{
    text-decoration: none;
    color: #334151;
}
div#footerWrap div#footer div#design div.glideText a:hover{
      text-decoration: underline;
}